<div id="<%= dom_id company %>" class="table-row">

  <div class="table-cell pr-4">
    <%= company.business_phone %>
  </div>

  <div class="table-cell pr-4">
    <%= company.city %>
  </div>

  <div class="table-cell pr-4">
    <%= company.country %>
  </div>

  <div class="table-cell pr-4">
    <%= company.fax %>
  </div>

  <div class="table-cell pr-4">
    <%= company.name %>
  </div>

  <div class="table-cell pr-4">
    <%= company.state %>
  </div>

  <div class="table-cell pr-4">
    <%= company.street_1 %>
  </div>

  <div class="table-cell pr-4">
    <%= company.street_2 %>
  </div>

  <div class="table-cell pr-4">
    <%= company.zip_code %>
  </div>
</div>
