<div id="<%= dom_id item %>">
  <p>
    <strong>Desc:</strong>
    <%= item.desc %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= item.qty %>
  </p>

  <p>
    <strong>Tax1:</strong>
    <%= item.tax1 %>
  </p>

  <p>
    <strong>Tax2:</strong>
    <%= item.tax2 %>
  </p>

  <p>
    <strong>Unit cost:</strong>
    <%= item.unit_cost %>
  </p>

</div>
